[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "*"
opencv-python = "*"
websockets = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
